// Colors
$gray: #f6f5f6;
$white: #ffffff;
$black: #000000;
$green: #7acb00;
$pink: #ff0097;
$lightpink: #ff9a9e;
$red: #F1352B;
$orange: #ff6600;
$yellow: #ffb617;
$robins: #01c1d6;
$tentonblue: #25c8eb;
$lightblue: #8fd3f4;
$purple: #6e27c5;
$blue: #150f96;

// Font
$font-fam: 'Karla', sans-serif;

// Font color
$dark-gray: #1c1d1d;